<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dark-theme">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Registro de usuario</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-input label="Nombre Usuario" label-placement="floating" fill="outline" placeholder="Ingrese su nombre"></ion-input>
      <ion-input label="Correo electrónico" label-placement="floating" fill="outline" placeholder="Ingrese su correo electrónico"></ion-input>
      <ion-input label="Contraseña" label-placement="floating" [type]="contrasena" fill="outline" placeholder="Ingrese su contraseña">
        <ion-button fill="clear" slot="end" (click)="visibilidadContrasena()" aria-label="Show/hide">
          <ion-icon slot="icon-only" [name]="ojo" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
      <ion-input label="Confirme Contraseña" label-placement="floating" [type]="contrasenaConf" fill="outline" placeholder="Vuelva a escribir su contraseña" 
      helperText="Escribir su contraseña" errorText="Contraseña inválida">
        <ion-button fill="clear" slot="end" (click)="visibilidadContrasenaConf()" aria-label="Show/hide">
          <ion-icon slot="icon-only" [name]="ojoConf" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-card-content>
  </ion-card>
</ion-content>
