<ion-menu contentId="main-content" class="dark-theme">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding dark-theme"> 
    Perfil
  </ion-content>
</ion-menu>

<div class="ion-page dark-theme" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- nuevo -->
  <ion-content>
    <!-- Input para escribir el nombre de la canción -->
    <ion-item>
      <ion-label>Track Name</ion-label>
      <ion-input #trackNameInput></ion-input>
    </ion-item>

    <!-- Botón para realizar la búsqueda -->
    <ion-button expand="full" (click)="searchTrack(trackNameInput.value ? trackNameInput.value.toString() : '')">
      Search Track
    </ion-button>


    <!-- Lista de resultados de búsqueda -->
    <ion-card *ngIf="tracks.length > 0">
        <ion-card *ngFor="let track of tracks">
          <img [src]="track.data.albumOfTrack.coverArt?.sources[2]?.url" alt="Album Art"> <!-- Usar encadenamiento opcional -->
          <ion-card-header>
            <ion-card-title>{{ track.data.name }}</ion-card-title>
            <ion-card-subtitle>{{ track.data.artists.items[0].profile.name }}</ion-card-subtitle>
            <ion-card-subtitle *ngFor="let artist of track.data.artists.items">
              {{ artist.profile.name }}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>

    </ion-card>

    <!-- Mensaje si no hay resultados -->
    <ion-item *ngIf="tracks.length === 0 && hasSearched">
      <ion-label>No results found</ion-label>
    </ion-item>
  </ion-content>

  <ion-content class="ion-padding ">
    <div>
      <h1> Top 10 Artistas</h1>
    </div>
    <div class="card-container">
      <ion-card *ngFor="let card of cards">
        <img [src]="card.image" />
        <ion-card-header>
          <ion-card-title>{{ card.title }}</ion-card-title>
          <ion-card-subtitle>{{ card.artist }} </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
      <div>
        <h1> Top 10 Albumes</h1>
      </div>
      <div class="card-container">
        <ion-card *ngFor="let card of cards">
          <img [src]="card.image" />
          <ion-card-header>
            <ion-card-title>{{ card.title }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    <div>
      <h1> Top 10 Canciones</h1>
    </div>
    <div class="card-container">
      <ion-card *ngFor="let card of cards">
        <img [src]="card.image" />
        <ion-card-header>
          <ion-card-title>{{ card.title }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div>
      <h1> Undergrownd</h1> 
    </div>
    <div class="card-container">
      <ion-card *ngFor="let card of cards">
        <img [src]="card.image" />
        <ion-card-header>
          <ion-card-title>{{ card.title }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-content>
</div>