<app-header backButtom="/main/favoritos" titulo="{{ trackName }}"></app-header>

<ion-content>
  <ion-card>
    <img [src]="trackCover" alt="Album Art">
    <ion-card-header>
      <!-- Contenedor para el título y los íconos -->
      <div class="title-icons-container">
        <div>
          <ion-card-title>{{ trackName }}</ion-card-title>
          <ion-card-subtitle>{{ trackArtist }}</ion-card-subtitle>
        </div>
        <div class="icons">
          <ion-icon name="share-social-outline" (click)="enviarSongEmail()" class="icon"></ion-icon>
        </div>
      </div>
    </ion-card-header>
  </ion-card>

  <!-- Reproductor de audio -->
  <div class="audio-container">
    <audio controls>
      <source src={{previewUrl}} type="audio/mpeg">
    </audio>
  </div>
</ion-content>