<app-header backButtom="/autenticacion" titulo="Recuperación Contraseña" class="dark-theme"></app-header>

<ion-content [fullscreen]="true" class="dark-theme">
  <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()" >
    <ion-card class="dark-theme">
      <app-input-clientes autocomplete="email" icon="mail-outline" [control]="form.controls.email" type="email"
        label="Correo">
      </app-input-clientes>
      <!--          Email con validaciones         -->
      <!--El mensjae se mostrara cuando el email tenga un error o toco el input-->
      <div class="msj-validacion" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <!--Aqui decimos que tipo de error es, en nuestro caso son dos (ver en ts)-->
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese correo válido</div>
      </div>
      <app-input-clientes [control]="form.controls.contrasena" icon="lock-closed-outline" type="password"
        label="Contrasena"></app-input-clientes>
      <!--              Contraseña y su validacion           -->
      <div class="msj-validacion" *ngIf="form.controls.contrasena.errors && form.controls.contrasena.touched">
        <div *ngIf="form.controls.contrasena.errors?.['required']">El contraseña es requerida</div>
      </div>

      <ion-item>
        <ion-button class="animated-button" expand="block" mode="ios" type="submit"
          [disabled]="form.invalid" >
          Cambiar Contraseña
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
        </ion-button>
      </ion-item>  
    </ion-card>
  </form>
</ion-content>
