<app-header backButtom="/autenticacion" titulo="Recuperación Contraseña"></app-header>

<ion-content [fullscreen]="true" class="dark-theme">

  <p class="ion-text-center"> Te enviaremos un correo para <br> que cambies tu contraseña 🙌🏽</p>
  <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <ion-card class="dark-theme">
      <app-input-clientes autocomplete="email" icon="mail-outline" [control]="form.controls.email" type="email"
        label="Correo">
      </app-input-clientes>

      <div class="msj-validacion" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <!--Aqui decimos que tipo de error es, en nuestro caso son dos (ver en ts)-->
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese correo válido</div>
      </div>

      <ion-item>
        <ion-button class="animated-button" expand="block" mode="ios" type="submit" [disabled]="form.invalid">
          Cambiar Contraseña
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-card>
  </form>
</ion-content>