/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.dark-theme {
  --background: rgb(254, 255, 191);
  --color: rgb(51, 14, 14);
  }
  
  .dark-theme ion-button {
    --color: rgb(19, 52, 18);
  }
  
  .dark-theme ion-header, .dark-theme ion-toolbar, .dark-theme ion-title, .dark-theme ion-card, .dark-theme ion-item, .dark-theme ion-content {
    --background: rgb(254, 255, 191);
    --color: rgb(51, 14, 14);
  }
  
  .animated-button {
    background: linear-gradient(270deg, #c51111, #8e44ad, #adb659, #13abb6); /* Colores morados */
    background-size: 800% 800%;
    color: #ffffff; /* Letras blancas */
    border: none; /* Sin borde */
    animation: gradientAnimation 8s ease infinite; /* Animación de 8 segundos */
    --background: none; /* Elimina cualquier fondo sólido predeterminado */

  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .msj-validacion {
    display: flex;
    justify-content: center;
    color: crimson;
    font-size: 12px;

}

.title-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 10px; /* Espaciado entre los íconos */
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--ion-color-primary); /* Ajusta según el color que desees */
}

.icon:hover {
  color: var(--ion-color-secondary); /* Efecto al pasar el cursor */
}
