<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Registro de usuario</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input label="Nombre Completo" label-placement="floating" fill="outline" placeholder="Ingrese su nombre"></ion-input>
      <ion-input label="Correo electrónico" label-placement="floating" fill="outline" placeholder="Ingrese su correo electrónico"></ion-input>
      <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    </ion-card-content>
  </ion-card>
</ion-content>
